/* nav-tabs menu center fix*/
.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

/* fix weird override in ufal-theme.css */
.form-horizontal .control-label {
  padding-top: 7px;
  display: inline-block;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    float: left;
    text-align: right;
  }
}
/* fix wrong margin of breadcrumbs */
ul.breadcrumb {
  margin-left: -15px;
  margin-right: -15px;
}

/* Korektor-specific */
#output span.single { color: #800 }
#output span.multiple { color: #800; text-decoration: underline }
#suggestions { padding: 5px; border: 1px solid #990; background-color: #ee4; }
#suggestions span { color: #800; text-decoration: underline; cursor: pointer; cursor: hand }
