.lindat-common .container {
  background-color: #FFF;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
}

/* nav-tabs menu center fix*/
.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

/* fix wrong margin of breadcrumbs */
ul.breadcrumb {
  margin-left: -15px;
  margin-right: -15px;
}

/* Korektor-specific */
#output span.single { color: #800 }
#output span.multiple { color: #800; text-decoration: underline }
#suggestions { padding: 5px; border: 1px solid #990; background-color: #ee4; }
#suggestions span { color: #800; text-decoration: underline; cursor: pointer; cursor: hand }
