<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>michalisekSpell</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>5000</string>
			<key>NSPortName</key>
			<string>addDiacritics</string>
			<key>NSMessage</key>
			<string>removeDiacritics</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Remove Diacritics!</string>
			</dict>
		</dict>
		<dict>
			<key>NSTimeout</key>
			<string>30000</string>
			<key>NSPortName</key>
			<string>addDiacritics</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSMessage</key>
			<string>addDiacritics</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Add Diacritics!</string>
			</dict>
		</dict>
		<dict>
			<key>NSExecutable</key>
			<string>${EXECUTABLE_NAME}</string>
			<key>NSLanguages</key>
			<array>
				<string>cs_CZ</string>
			</array>
			<key>NSPortName</key>
			<string>michalisekSpell</string>
			<key>NSSpellChecker</key>
			<string>michalisekSpell</string>
		</dict>
	</array>
</dict>
</plist>
